/* .box1{
    border: 2px solid;
    width: 900px;
    height: 200px;
    background-color: rgb(137, 47, 255);
    display: inline-block;
    margin: 20px;
}
.box2{
    border: 2px solid;
    width: 200px;
    height: 100px;
    background-color: rgb(137, 47, 255);
    display: inline-block;
    margin: 20px;
}
.box3{
    border: 2px solid;
    width: 200px;
    height: 100px;
    background-color: rgb(27, 27, 27);
    display: inline-block;
    margin: 20px;
}
.box4{
    border: 2px solid;
    width: 200px;
    height: 100px;
    background-color: rgb(137, 47, 255);
    display: inline-block;
    margin: 20px;
}
.box5{
    border: 2px solid;
    width: 200px;
    height: 100px;
    background-color: rgb(137, 47, 255);
    display: inline-block;
    margin: 20px;
}
.box6{
    border: 2px solid;
    width: 200px;
    height: 100px;
    background-color: rgb(137, 47, 255);
    display: inline-block;
    margin: 20px;
    }
 .box7{
    border: 2px solid;
    width: 200px;
    height: 100px;
    background-color: rgb(137, 47, 255);
    display: inline-block;
    margin: 20px;
 }
.box8{
    border: 2px solid;
    width: 200px;
    height: 100px;
    background-color: rgb(137, 47, 255);
    display: inline-block;
    margin: 20px;
}
.box9{
    border: 2px solid;
    width: 200px;
    height: 100px;
    background-color: rgb(137, 47, 255);
    display: inline-block;
    margin: 20px;
}
.box10{
    border: 2px solid;
    width: 200px;
    height: 100px;
    background-color: rgb(137, 47, 255);
    display: inline-block;
    margin: 20px;
} */